.buttonBox {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 10px;
}
.buttonBox .button {
  padding: 10px 30px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.main {
  width: 100%;
  position: relative;
}
.main .info {
  width: 100%;
  position: relative;
}
.main .info .item {
}
.main .info .item .header {
}

h5 {
  margin-top: 20px;
}
h6 {
  margin-top: 20px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: rgba(252, 0, 0, 0.514);
  font-weight: 900;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.add {
  background-color: rgba(97, 97, 97, 0.514);
  margin-top: 10px;
}

.keyVal {
  margin-bottom: 10px;
  display: flex;
}
.inputItems {
  display: flex;
  margin-bottom: 10px;
}
.inputTextTags {
  margin-right: 10px !important;
}
.phoneinputBox {
  display: flex;
  align-items: center;
}
.cross {
  font-weight: 900;
  transform: rotate(45deg) !important;
  margin-right: 5px;
  cursor: pointer;
}

.crossbar {
  font-weight: 900;
  transform: rotate(45deg) !important;
  margin-right: 5px;
  cursor: pointer;
}
